.mainDiv {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
/* .secondDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: grey;
  height: 312px;
  width: 396px;
  background-color: coral;
  text-align: center;
} */
